/*Header*/
.headcontainer{
  display: flex;
  border-style: solid;
  border-width: thin;
  padding: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
span{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 100%;
}
.logo{
  color: MediumAquamarine;
  padding-left: 10px;
}
a{
  color: black;
  padding-right: 30px;
}

/*BODY*/

.bodycontainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*LARGE COLUMN*/

.column.large {
  display: flex;
  width: 630px;
  flex-direction: row;
}
.flex1{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  border: 5px solid red;
  padding-top: 50px;
  }

/*FLEX1/MAIN-STORY IMAGE BEHIND CAPTION*/

.mother{
color: white;
height: -500px;
position: absolute;
font-family: Georgia;
font-weight: bold;
font-size: 40px;
}
.main{
  display: inline-block;
  width: 630px;
}
.flex2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  border: 5px solid red;
}
.flex4{
  display: flex;
  flex-direction: row;
  width: 630px;
  border: 5px solid red;
}
/*FLEX4/FALL SEASON IMAGE BEHIND CAPTION*/
.Fall{
display: flex;
align-items: center;
justify-content: center;
}
.Earth{
  position: absolute;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/*FLEX5/CAMERA IMAGE BEHIND CAPTION*/
.camera{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}
.Research{
  color: white;
  position: absolute;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  justify-content: flex-end;
}

/*MEDIUM COLUMN*/

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 5px solid red;
  flex-wrap: wrap;
}

.FBI{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  width: 300px;
}

.FBIext{
  width: 300px;
}
/*CAT IMAGE BEHIND CAPTION*/
.cat{
display: flex;
text-align: center;
align-items: center;
}
.Catsin{
  color: white;
  position: absolute;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

/*SMALL COLUMN*/

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}
.flex8{
  display: inline-flex;
  border: 5px solid red;
}
.bites{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}
.bite-items{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

/*EVERYTHING ELSE*/
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
/*FOOTER*/

footer{
  display: flex;
  background-color: MediumAquamarine;
  margin-top: 50px;
}
.footcontainer1{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.footcontainer2{
  display: flex;
}
span#footspan{
  width: 100%;
  text-align: center;
}
.MYTimes{
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 padding: 50px;
 border-right-style: solid;
 border-right-width: thin;
}
.foot{
  display: inline-flex;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.footspan{
  display: inline-flex;
  text-align: center;
}
