/*Header*/
.headcontainer{
  display: flex;
}
span{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo{
  color: MediumAquamarine;
  : center;
}
a{
  color: black;
}

/*BODY*/

.bodycontainer{
  display: flex;
}
.column.large {
  display: inline-flex;
  width: 630px;
  border: 3px solid black;
  flex-direction: column;
}

.column.medium {
  display: inline-flex;
  width: 300px;
}

.column.small {
  display: inline-flex;
  width: 240px;
}
