/*Header*/
.headcontainer{
  display: flex;
}
span{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo{
  color: MediumAquamarine;
  : center;
}
a{
  color: black;
}

/*BODY*/

.bodycontainer{
  display: flex;
  flex-direction: row;
}
.bodycontainer2{
  display: flex;
  flex-direction: row;
}
.story1{
  display: inline-flex;
}
.column.large {
  display: inline-flex;
  width: 630px;
  border: 3px solid black;
}
#Orca{
  width: 315px;
}
#Burger{
  width: 315px;
  margin-left: 315px;
  margin-top: -2px;
}
#Burgerpos{
  width: 315px;
  margin-left: 315px;
  margin-bottom: 315px;
}
.column.split {
  display: inline-flex;
  width: 300px;
}
.story2{
  display: flex;
  position: relative;
  flex-direction: column;
}
.story3{
  display: flex;
  position: relative;
  flex-direction: column;
}
.story4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story5{
  display: flex;
}
.column.medium {
  display: inline-flex;
  width: 300px;
}
.story6{
  display: flex;
}
.column.small {
  display: inline-flex;
  width: 240px;
}
/*MAIN-STORY IMAGE BEHIND CAPTION*/
.story-main{
display: flex;
}
.mother{
color: white;
position: absolute;
font-family: Georgia;
font-weight: bold;
font-size: 40px;
}
/*FALL SEASON IMAGE BEHIND CAPTION*/
.Fall{
display: flex;
}
.Earth{
  position: absolute;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/*CAMERA IMAGE BEHIND CAPTION*/
.camera{
display: flex;
}
.Research{
  color: white;
  position: absolute;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/*CAT IMAGE BEHIND CAPTION*/
.cat{
display: flex;
}
.Catsin{
  color: white;
  position: absolute;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
/*COOKIE IMAGE BEHIND CAPTION*/
.cookie{
display: flex;
}
/*EVERYTHING ELSE*/
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
/*FOOTER*/
